<div class="comments-row">
  <mat-form-field>
    <mat-label>Laissez un commentaire</mat-label>
    <input type="text" matInput [formControl]="commentCtrl">
  </mat-form-field>
  <button mat-icon-button (click)="LeaveComment()">
    <mat-icon>send</mat-icon>
  </button>
</div>
@if(comments.length){
<mat-list>
  <h2 matSubheader> Commentaires </h2>
  @for(comment of comments;track comment.id;let i = $index){
  <mat-list-item [@listItem]="animationStates[i]" (mouseenter)="onMouseEnter(i)" (mouseleave)="onMouseLeave(i)">
    <div class="item-container">
      <span mat-line>{{comment.comment}}</span>
      <span mat-line>{{comment.createdDate | timeAgo}}</span>
    </div>

  </mat-list-item>
  }
</mat-list>
}
